$main-color: rgb(77, 77, 77);
$main-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$accent-color: rgba(175, 47, 47, 0.3);
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

$breakpoint-small: 475px;
